@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nguyen Duy Tin</h1>
    <h2>Excercise S2 - Nguyen Duy Tin</h2>
    <h3>Create your CRUD application with REST-API that also contains these
features: <br />
Use code-first for control database schema <br />
 Relationship in your entities <br />
 Add swagger document to APIs</h3>
</div>
